@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0; /* Optional: removes default margin for body */
  overflow: auto; /* Ensures scrolling is enabled */
}

/* Hide scrollbars for WebKit browsers (e.g., Chrome, Safari) */
body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Hide scrollbars for Firefox and other browsers */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
